img
{
    width: 30%;
    margin: calc(10%/6)
}

nav
{
    font-family: 'Roboto', sans-serif;
    font-size:  1.5em;
    margin-left: 1.2em;
    padding:.5em;
    border-bottom: 1px solid lightgrey;
    width: 28%;
}