body
{
    font-family: 'Open Sans',sans-serif;
}

h1
{
    font-size: 6em;
    text-align: center;
}

nav
{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul,li
{
    display: inline;
    margin: 0;
    padding: 0;
}

ul
{
    /* border:1px solid red; */
    flex:1;
    max-width: 50%;
    display: flex;
   justify-content: space-evenly;
}


/* @media (min-width:600px) and (max-width:799px) /*At a minimum of 800px and upwards*/
/* {
    h1
    {
        color: orange;
    }
} */
/* @media (min-width:800px) /*At a minimum of 800px and upwards*/
/* {
    h1
    {
        color: purple;
    }
} */

/* @media (max-width:599px) /*Red upto a miximum width of 800px*/
/* {
    h1
    {
        color: red;
    }
}   */

h1
{
    color:red;
}
/* @media (some-sort-of-media-feature, commonly min-width) */
@media (min-width: 500px)
{
    h1
    {
        color:orange;
    }
}
@media (min-width: 1000px)
{
    h1
    {
        color:yellow;
    }
}
@media (min-width: 1500px)
{
    h1
    {
        color:green;
    }
}
/* @media (orientation: landscape)
{
    body
    {
        background-color: magenta;
    }
} */

@media (max-width:768px)
{
    h1
    {
        font-size: 4em;
    }
    nav, nav ul
    {
        display: inline;flex-direction: column;
        align-items: center;
    }

   
}

@media (max-width:576px)
{
    h1
    {
        font-size: 3em;
    }
}
